#title-slide .author {
  font-size: 100px!important;
}
#title-slide .author:after {
  /*content: url('../images/monash-stacked-blue-rgb.png') ;*/
  display: block;

  /***
    display: block;
    content: "";
    height: 200px;
    background: transparent url('../images/monash-one-line-black-rgb.png') no-repeat;


    ***/
}


.info-box {
  margin-top: 10px;
  margin-right: 10px;
  border-left: 10px solid #bf700d;
  padding-left: 20px;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #f2e988;
}

section.has-light-background, section.has-light-background h1, section.has-light-background h2, section.has-light-background h3, section.has-light-background h4, section.has-light-background h5, section.has-light-background h6 {
    color: #fff;
}

h1 {
    color: #FF4136;
    text-shadow: 2px 2px #FF851B, 3px 3px #FFDC00;
    animation: flame 2s infinite;
}

@keyframes flame {
    0% {text-shadow: 2px 2px #FF851B, 3px 3px #FFDC00;}
    50% {text-shadow: 2px -2px #FF851B, 3px -3px #FFDC00;}
    100% {text-shadow: 2px 2px #FF851B, 3px 3px #FFDC00;}
}
